---
- name: Create users with provided details
  ansible.windows.win_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    description: "{{ item.description }}"
    groups: []
  loop: "{{ vulnerable_windows_scenarios_users }}"
  loop_control:
    label: "{{ item.name }}"
