Welcome aboard, {{ user_name }}!

Your account details:
Username: {{ user_name }}
Temp password: {{ user_password }}

Important resources:
- Employee handbook: \\{{ share_name }}\Resources\
- IT Support: x1234 or itsupport@
- HR portal: http://intern/hr

Your team:
Manager: {{ user_manager }}
Mentor: {{ user_mentor }}

First week checklist:
1. Set up workstation
2. Complete new hire paperwork
3. Attend orientation (Tues, 9 AM, Room 305)
4. Schedule 1:1 with your manager
5. Review Q3_Planning folder

Don't forget to check out our Cake_Budget share for office snack info!

Welcome to the team!
