---
sliver_packages:
  # Packages to keep after build
  essential:
    - acl
    - ca-certificates
    - git
    - gnupg
    - libcurl4
    - libssl3
    - libxml2-dev
    - unzip
    - vim
    - vim-common
    - vim-runtime
    - zip

  # Packages needed for build but removed during cleanup
  build_only:
    - make
    - wget
    - curl
    - autoconf
    - automake
    - build-essential
    - gcc
    - g++
    - libtool
    - python3-pip
    - ansible
    - libssl-dev
    - zlib1g-dev
    - libncurses-dev
    - libreadline-dev
    - libsqlite3-dev
    - libgdbm-dev
    - libdb5.3-dev
    - libbz2-dev
    - libexpat1-dev
    - liblzma-dev
    - libffi-dev

  # Packages that stay installed (runtime dependencies)
  runtime_debian:
    - apt-utils
    - gpg
    - openssl
    - libapr1
    - libsvn1
    - zlib1g
    - xsel
    - libcurl4-openssl-dev
    - libgmp3-dev
    - libpcap-dev
    - libpq-dev
    - libxml2-dev
    - libxslt-dev
    - libyaml-dev
    - postgresql
    - postgresql-contrib
    - postgresql-client

  # Cross-compilation tools (always removed during cleanup)
  cross_compile:
    - binutils-mingw-w64
    - g++-mingw-w64
    - mingw-w64
    - bison
    - nasm
    - locate
    - patch

# Compose installation lists
sliver_common_install_packages: "{{ sliver_packages.essential + ['make', 'wget', 'curl'] }}"

sliver_debian_packages: "{{ sliver_packages.build_only + sliver_packages.runtime_debian + sliver_packages.cross_compile }}"

sliver_el_packages:
  - epel-release
  - gcc
  - gcc-c++
  - protobuf
  - zlib
  - zlib-devel

# Cleanup lists (reference the same packages)
sliver_cleanup_packages_debian: "{{ sliver_packages.build_only + sliver_packages.cross_compile }}"

# Cleanup paths
sliver_cleanup_paths:
  - "{{ sliver_user_home }}/go"
  - "{{ sliver_user_home }}/.cache"
  - "{{ sliver_user_home }}/.asdf"
  - "{{ sliver_user_home }}/.local"
  - "{{ sliver_user_home }}/.config"
  - "{{ sliver_user_home }}/.tool-versions"
  - "/root/go"
  - "/root/.cache"
  - "/root/.asdf"
  - "/root/.local"
  - "/root/.tool-versions"
  - "/root/.ssh"
  - "/tmp/*"
  - "/var/tmp/*"
  - "/var/cache/debconf"
  - "/var/lib/systemd/catalog"
  - "/var/spool/cron"
  - "/var/spool/mail"

sliver_mingw_directories:
  - /usr/x86_64-w64-mingw32
  - /usr/i686-w64-mingw32
  - /usr/x86_64-w64-mingw32ucrt

sliver_source_directories:
  - client
  - server
  - implant
  - protobuf
  - util
  - vendor
  - test
  - docs
  - .github
  - .git

sliver_keep_binaries:
  - sliver-server
  - sliver-client

sliver_container_remove_packages:
  - "*vulkan*"
  - "*llvm*"
  - "libicu*"
  - "snapd"
  - "libgallium*"
  - "libasan*"
