---
- name: Gather available local users
  ansible.builtin.getent:
    database: passwd
    key: "{{ ttpforge_username }}"
  register: ttpforge_getent_passwd
  when: ansible_os_family != 'Darwin'
  failed_when: false

- name: Set user home directory
  ansible.builtin.set_fact:
    ttpforge_user_home: "{{ ttpforge_getent_passwd[ttpforge_username].home if (ttpforge_getent_passwd is defined and ttpforge_username in ttpforge_getent_passwd) else '/home/' + ttpforge_username }}"
  when: ansible_os_family != 'Darwin'

- name: Set user home directory for macOS
  ansible.builtin.set_fact:
    ttpforge_user_home: "/Users/{{ ttpforge_username }}"
  when: ansible_os_family == 'Darwin'
