---
sliver_cleanup: false  # Enable for Docker/container builds to minimize image size
sliver_install_path: /opt/sliver
sliver_setup_systemd: false
sliver_unpack_at_build: true # Disable to skip unpacking at build time for Docker/container builds

sliver_username: "sliver"
sliver_usergroup: "sliver"
sliver_shell: "{% if ansible_os_family == 'Darwin' %}/bin/zsh{% else %}/bin/bash{% endif %}"
sliver_asdf_plugins:
  # renovate: datasource=github-tags depName=golang packageName=golang/go extractVersion=^go(?<version>.*)$
  - name: golang
    version: "1.26.0"
    scope: "global"
