---
- name: Verify
  hosts: all
  gather_facts: true

  tasks:
    - name: Include default variables
      ansible.builtin.include_vars:
        file: "../../defaults/main.yml"

    - name: Set sliver user home directory
      ansible.builtin.include_tasks: "../../tasks/sliver_get_user_home.yml"

    - name: Check if Sliver server is installed
      ansible.builtin.stat:
        path: "{{ sliver_install_path }}/sliver-server"
      register: sliver_server
      failed_when: >
        not sliver_server.stat.exists or
        not sliver_server.stat.executable

    - name: Check if Sliver client is installed
      ansible.builtin.stat:
        path: "{{ sliver_install_path }}/sliver-client"
      register: sliver_client
      failed_when: >
        not sliver_client.stat.exists or
        not sliver_client.stat.executable

    - name: Check sliver user exists
      ansible.builtin.command: "id -un {{ sliver_username }}"
      register: sliver_user_check
      changed_when: false
      failed_when: sliver_user_check.rc != 0

    - name: Check user sudo access
      ansible.builtin.stat:
        path: "/etc/sudoers.d/{{ sliver_username }}"
      register: sliver_sudoers_check
      when: sliver_username != 'root'
      failed_when: >
        sliver_username != 'root' and
        not sliver_sudoers_check.stat.exists

    - name: Check if operator config exists
      ansible.builtin.stat:
        path: "{{ sliver_user_home }}/.sliver-client/configs/{{ sliver_username }}_localhost.cfg"
      register: sliver_operator_config
      failed_when: >
        not sliver_operator_config.stat.exists or
        sliver_operator_config.stat.size == 0
