---
# This workflow requires a GALAXY_API_KEY secret present in the GitHub
# repository or organization.
#
# See: https://github.com/marketplace/actions/publish-ansible-role-to-galaxy
# See: https://github.com/ansible/galaxy/issues/46
name: Release
on:
  push:
    tags:
      - "*"
# Cancel any in-progress job when a new workflow is triggered
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}
env:
  ANSIBLE_GALAXY_TOKEN: ${{ secrets.GALAXY_API_KEY }}
  PYTHON_VERSION: "3.14.3"
  WORKING_DIRECTORY: ansible_collections/l50/arsenal

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: ${{ env.WORKING_DIRECTORY }}
          fetch-depth: 0  # Fetch all history for proper versioning

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '${{ env.WORKING_DIRECTORY }}/.hooks/requirements.txt'

      - name: Install dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          python3 -m pip install -r .hooks/requirements.txt

      - name: Release to Ansible Galaxy
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: ansible-playbook -i 'localhost,' galaxy-deploy.yml -e "github_tag=${{ github.ref }}"
